aniso8601==6.0.0
astroid==2.3.3
attrs==19.1.0
boto==2.49.0
boto3==1.13.14
botocore==1.16.14
cachetools==4.1.0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
docutils==0.15.2
filelock==3.0.12
Flask==1.0.2
Flask-Cors==3.0.7
flask-restplus==0.12.1
future==0.18.2
gensim==3.8.3
google-api-core==1.17.0
google-api-python-client==1.8.3
google-auth==1.15.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
httplib2==0.18.1
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.10.0
joblib==0.15.1
jsonschema==3.0.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.4
protobuf==3.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.4.4
pyrsistent==0.14.11
python-dateutil==2.8.1
pytz==2019.1
regex==2020.5.14
requests==2.23.0
rsa==4.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.20.3
scipy==1.2.1
sentencepiece==0.1.91
six==1.12.0
sklearn==0.0
smart-open==2.0.0
tokenizers==0.7.0
torch==1.5.0
tqdm==4.46.0
transformers==2.9.1
typed-ast==1.4.1
uritemplate==3.0.1
urllib3==1.25.9
Werkzeug==0.15.2
wrapt==1.11.2
